<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vurtnec.model.impl.ArticleMapper">
	
	<select id="findAllArticleOrderByTime" resultType="Article">
		select * from article order by articleCreateTime
	</select>
	
	<select id="findArticleCount" resultType="int">
		select count(*) from article
	</select>
	
	<select id="findCategoryArticleCount" parameterType="int" resultType="int">
		select count(*) from article where categoryId=#{categoryId}
	</select>
	
	<select id="findArticlePageOrderByTime" parameterType="int" resultType="Article">
		select * from article order by articleCreateTime limit #{pageNow},5 
	</select>
	
	<select id="findCategoryArticlePageOrderByTime" parameterType="HashMap" resultType="Article">
		select * from article where categoryId=#{categoryId} order by articleCreateTime limit #{pageNow},5 
	</select>
	
	<select id="findArticleById" parameterType="int" resultType="Article">
		select * from article where articleId=#{articleId}
	</select>
	
	<select id="findArticleByHash" parameterType="String" resultType="int">
		select count(*) from article where articleHashCode=#{articleHashCode}
	</select>
	
	<select id="findArticleByCategoryIdOrderByTime" parameterType="int" resultType="Article">
		select * from article where articleId=#{articleId} order by articleCreateTime
	</select>
	
	<insert id="insertArticle" parameterType="com.vurtnec.model.bean.Article" useGeneratedKeys="true" keyProperty="articleId">
		insert into `article` (`articleTitle`,`articleSubTitle`,`articleImage`,`articleContent`,`articleAuthor`,`articleCreateTime`,`categoryId`,`articleUpdateTime`,`articlePreview`,`articleHashCode`) values (#{articleTitle,jdbcType=VARCHAR},#{articleSubTitle,jdbcType=VARCHAR},#{articleImage,jdbcType=VARCHAR},#{articleContent,jdbcType=VARCHAR},#{articleAuthor,jdbcType=VARCHAR},#{articleCreateTime,jdbcType=TIMESTAMP},#{categoryId,jdbcType=INTEGER},#{articleUpdateTime,jdbcType=TIMESTAMP},#{articlePreview,jdbcType=VARCHAR},#{articleHashCode,jdbcType=VARCHAR})
	</insert>
	
</mapper>
