<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这块等于dao接口的实现 namespace必须和接口的类路径一样 -->
<mapper namespace="com.vurtnec.model.impl.UserMapper">
	<!-- findByName 和 inserUser必须和接口中的方法名一样 返回一个User 就是刚才的别名 如果不弄别名要连类路径一起写 -->
	<select id="findByName" parameterType="HashMap" resultType="User">
		select * from user where userName=#{userName}
	</select>
	
	<select id="login" parameterType="HashMap" resultType="User">
		select * from user where userName=#{userName} and userPassword=#{userPassword}
	</select>

	<insert id="insertUser" parameterType="com.vurtnec.model.bean.User" useGeneratedKeys="true" keyProperty="userId">
		insert into user (userName, userPassword) values (#{userName,jdbcType=VARCHAR},#{userPassword,jdbcType=VARCHAR})
	</insert>
</mapper>
